extends layout

block content
  div#entry
    form#create-message
      input(type="text", maxlength="1024", placeholder="Type up to one thousand twenty-four characters then hit enter.", name="message", size="60", value="")
    form#new-style
      input(type="button", value="Randomize Style", id="randomize")
